<!DOCTYPE html>
	<html>
<head>
    <title>And the Shell of your Mother</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea"
        });
    </script>
    <!-- Tracking script for google analitics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-43761712-2']);
        _gaq.push(['_trackPageview']);

        (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga$
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>And the Shell of your Mother</h1>
        </div>
        <header>
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a href="{{ url_for('index') }}">Home</a></li>

                        {% if 'email' in session %}
                            <li><a href="{{ url_for('create', name=name) }}">Create Article</a></li>
                            <li><a class="active" href="{{ url_for('profile', name=name) }}">Profile</a></li>
                            <li><a href="{{ url_for('dashboard', name=name) }}">Dashboard</a></li>
                            <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                            <li><a href="{{ url_for('signin') }}">Sign In</a></li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </header>

        {% block content%}

        {% endblock %}

        <div class="modal-footer">
            <h4>&copy; Mauri</h4>
        </div>
    </div>
</body>
</html>
