{% extends "layout.html" %}

{% block content %}
    
    <h1>{{ article.title }}</h1>

    <p>{{ article.created_in_words }}</p>
    <p>{{ article.body | safe }}</p>
    <h6>Created by {{ article.person_name }} | {{ article.created_in_words }} ago</h6>
    <hr/>
    {% if session['email'] %}
        {% if article.person_name == person.firstname %}
            <p>
                <a href="{{ url_for('article_update', id=article.id, slug=article.slug) }}" class='btn btn-inverse'>Edit Article</a>
                <a href="{{ url_for('delete', id=article.id, slug=article.slug) }}" class='btn btn-inverse'>Delete Article</a>
            </p>
        {% endif %}
    {% endif %}
    
{% endblock %}